@model IEnumerable<CONTROL_HERRAMIENTA_SUNCORP.Models.Serieempleado>

@{
    ViewBag.Title = "Serie_empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de herramientas y empleados</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-12">

            <div class="panel panel-warning" style="font-size: 16px;">
                <div class="panel-heading">
                    <h4>Lista de herramientas y empleados</h4>

                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="panel-body">
                    <a class="btn btn-success" href="@Url.Action("Registrarherramienta", "Herramienta")">Crear Nuevo</a>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Sucursal</th>
                                    <th>Numero serie</th>
                                    <th>Modelo</th>
                                    <th>Primer nombre</th>
                                    <th>Primer apellido</th>
                                    <th style="width:150px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    foreach (CONTROL_HERRAMIENTA_SUNCORP.Models.Serieempleado item in Model)
                                    {
                                        <tr>
                                            <td>@item.ID_EMPLEADO_REGISTRO_SERIE_HERRAMIENTA</td>
                                            <td>@item.SUCURSAL.NOMBRE_SUCURSAL</td>
                                            <td>@item.HERRAMIENTA.MODELO</td>
                                            <td>@item.SERIE.NUMERO_SERIE</td>
                                            <td>@item.EMPLEADO.PRIMER_NOMBRE</td>
                                            <td>@item.EMPLEADO.PRIMER_APELLIDO</td>

                                            <td>
                                                <a class="btn btn-primary btn-sm" href="@Url.Action("Editarherramienta","Herramienta", new { Idherramienta = item.ID_EMPLEADO_REGISTRO_SERIE_HERRAMIENTA})">
                                                    <span class="glyphicon glyphicon-pencil" style="font-size: 14px !important;"></span>
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminarherramienta","Herramienta", new { Idherramienta= item.ID_EMPLEADO_REGISTRO_SERIE_HERRAMIENTA })">
                                                    <span class="glyphicon glyphicon-trash" style="font-size: 14px !important;"></span>
                                                </a>

                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <p>No hay datos disponibles.</p>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

