@model CONTROL_HERRAMIENTA_SUNCORP.Models.Empresa

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>EDITAR EMPRESA</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editar","Empresa")" method="post">
                        
                        <input type="hidden" class="form-control" name="ID_EMPRESA" value="@Html.DisplayTextFor(m=>m.ID_EMPRESA)" />
                   
                    <div class="form-group">
                        <label>RTN</label>
                        <input type="text" class="form-control" name="RTN" value="@Html.DisplayTextFor(m=>m.RTN)" />
                    </div>
                    <div class="form-group">
                        <label>NOMBRE_EMPRESA</label>
                        <input type="text" class="form-control" name="NOMBRE_EMPRESA" value="@Html.DisplayTextFor(m=>m.NOMBRE_EMPRESA)" />
                    </div>
                    <div class="form-group">
                        <label>CORREO_ELECTRONICO</label>
                        <input type="text" class="form-control" name="CORREO_ELECTRONICO" value="@Html.DisplayTextFor(m=>m.CORREO_ELECTRONICO)" />
                    </div>

                    <div class="form-group">
                        <label for="ID_CORPORACION">CORPORACION</label>
                        @Html.DropDownListFor(model => model.ID_CORPORACION, (SelectList)ViewBag.Corporaciones, new { @class = "form-control" })

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>

                    <button type="submit" class="btn btn-primary">Editar</button>
                    <a class="btn btn-warning" href="@Url.Action("empresa","Empresa")">Volver</a>

                </form>


            </div>
        </div>
    </div>
</div>

