@model IEnumerable<CONTROL_HERRAMIENTA_SUNCORP.Models.Empresa>

@{
    ViewBag.Title = "Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Lista de contacto</h4>
            </div>

            <form asp-controller="Empresa" asp-action="empresa">
                <p>
                    <input type="text" name="buscar" class="form-text" />
                    <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
                </p>
            </form>

                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Tipo" class="btn btn-sm btn-dark" />
                        <input type="button" value="Categoría" class="btn btn-sm btn-dark" />
                        <input type="button" value="Categoría" class="btn btn-sm btn-dark" />

                    </div>
                </p>  
                
            </form>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Registrar", "Empresa")">Crear Nuevo</a>
                <hr />
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>RTN</th>
                                    <th>NOMBRE EMPRESA</th>
                                    <th>CORREO ELECTRONICO</th>
                                    <th>CORPORACION</th>
                                    <th>FECHA REGISTRO</th>
                                    <th style="width:150px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CONTROL_HERRAMIENTA_SUNCORP.Models.Empresa item in Model)
                                {
                                    <tr>
                                        <td>@item.RTN</td>
                                        <td>@item.NOMBRE_EMPRESA</td>
                                        <td>@item.CORREO_ELECTRONICO</td>
                                        <td>@item.CORPORACION.NOMBRE_CORPORACION</td>
                                        <td>@item.FECHA_REGISTRO</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Editar","Empresa", new { idcontacto = item.ID_EMPRESA })">Editar</a>
                                            <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","Empresa", new { IDEMPRESA = item.ID_EMPRESA })">Eliminar</a>
                                        </td>

                                </tr>

                            }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 