@model CONTROL_HERRAMIENTA_SUNCORP.Models.Serie

@{
    ViewBag.Title = "Editarserieher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:25px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>ACTUALIZAR SERIE HERRAMIENTA</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editarserieher","Serie_herramienta")" method="post">

                    <input type="hidden" class="form-control" name="ID_REGISTRAR_SERIE_HERRAMIENTA" /><br />

                    <div class="form-group">
                        <label for="ID_SUCURSAL">Sucursal</label>
                        @Html.DropDownListFor(model => model.ID_SUCURSAL, (SelectList)ViewBag.Sucursaly, new { @class = "form-control" })<br />
                    </div>
                    <div class="form-group">
                        <label for="ID_HERRAMIENTA">Herramienta</label>
                        @Html.DropDownListFor(model => model.ID_HERRAMIENTA, (SelectList)ViewBag.Herramientay, new { @class = "form-control" })<br />
                    </div>
                    <div class="form-group">
                        <label>Ubicación Física</label>
                        <input type="text" class="form-control" name="UBICACION_FISICA" required value="@Html.DisplayTextFor(m=>m.UBICACION_FISICA)" /><br />
                    </div>
                    <div class="form-group">
                        <label>Número de Serie</label>
                        <input type="text" class="form-control" name="NUMERO_SERIE" required value="@Html.DisplayTextFor(m=>m.NUMERO_SERIE)" /><br />
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="text" class="form-control" name="PRECIO" value="@Html.DisplayTextFor(m=>m.PRECIO)" /><br />
                    </div>

                    <div class="form-group">
                        <label for="ID_FACTURA">Estado herramienta</label>
                        @Html.DropDownListFor(model => model.ID_ESTADO_HERRAMIENTA, (SelectList)ViewBag.Estado_herramientay, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label for="ID_FACTURA">Factura</label>
                        @Html.DropDownListFor(model => model.ID_FACTURA, (SelectList)ViewBag.Facturay, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label>Comentario</label>
                        <input type="text" class="form-control" name="COMENTARIO" value="@Html.DisplayTextFor(m=>m.COMENTARIO)" /><br />
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a class="btn btn-warning" href="@Url.Action("serie","Serie_herramienta")">Volver</a>

                </form>

            </div>
        </div>
    </div>
</div>



