@model CONTROL_HERRAMIENTA_SUNCORP.Models.Serie

@{
    ViewBag.Title = "Registrarserie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

    <h3 class="text-center mt-3 justify">Registrar serie de la herramientas</h3>
    <br />

    <div class="container mt-3 d-flex justify-content-center col-sm-12">

        <form action="@Url.Action("Registrarserie","Serie_herramienta")" method="post">

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ID_SUCURSAL"> Sucursal</label><br />
                    <select class="form-control" name="ID_SUCURSAL" id="ID_SUCURSAL_P" required>
                        <option value="">Seleccione una sucursal</option>
                        @foreach (var itemA in ViewBag.Sucursal)
                        {
                            <option value="@itemA.Value">@itemA.Text</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ID_HERRAMIENTA">Modelo</label><br />
                    <select class="form-control" name="ID_HERRAMIENTA" id="ID_HERRAMIENTA_R" required>
                        <option value="">Seleccione un modelo de herramienta</option>
                        @foreach (var items in ViewBag.Herramienta)
                        {
                            <option value="@items.Value">@items.Text</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="UBICACION_FISICA">Ubicación Física</label><br />
                    <input type="text" class="form-control" name="UBICACION_FISICA" required /><br />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Número de Serie</label>
                    <input type="text" class="form-control" name="NUMERO_SERIE" required /><br />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Precio</label>
                    <input type="text" class="form-control" name="PRECIO" /><br />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ID_ESTADO_HERRAMIENTA">Estado herramienta</label><br />
                    <select id="ID_ESTADO_HERRAMIENTA" class="form-control" name="ID_ESTADO_HERRAMIENTA" required>
                        <option value="">Seleccione un estado de herramienta</option>
                        @foreach (var itemeS in ViewBag.Estado_herramienta)
                        {
                            <option value="@itemeS.Value">@itemeS.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Factura</label><br />
                    <select class="form-control" name="ID_FACTURA" id="ID_FACTURA_S" required>
                        <option value="">Seleccione una factura</option>
                        @foreach (var iteml in ViewBag.Factura)
                        {
                            <option value="@iteml.Value">@iteml.Text</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="COMENTARIO">Comentario</label>
                    <textarea type="text" class="form-control" rows="5" name="COMENTARIO" ></textarea><br />
                </div>
                </div>

                <button type="submit" class="btn btn-primary ml-2" style="font-size: 20px; color: #FFFFFF;">
                    <i class="fas fa-check" aria-hidden="true"></i>
                </button>
                <a class="btn btn-warning ml-2" href="@Url.Action("serie","Serie_herramienta")" style="font-size: 20px; color: #FFFFFF;">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </a>
</form>
    </div>


    @section Scripts{

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                $('#ID_SUCURSAL_P').select2();
                $('#ID_HERRAMIENTA_R').select2();
                $('#ID_FACTURA_S').select2();
                $('#ID_ESTADO_HERRAMIENTA').select2();
                
            });

        </script>
    }

    </body>
</html>





