@model IEnumerable<CONTROL_HERRAMIENTA_SUNCORP.Models.Herramienta>

@{
    ViewBag.Title = "Herramienta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de herramientas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    @section styles{
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    }

</head>
<body>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-yellow">
                    <h4>Lista de herramientas</h4>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="button" value="TIPO HERRAMIENTA" class="btn btn-sm btn-dark" onclick="location.href='@Url.Action("Tipo", "Tipo")'" />

                    <input type="button" value="MARCA" class="btn btn-sm btn-dark" onclick="location.href='@Url.Action("Marca", "Marca")'" />

                </div>

                <div class="card-body">
                    <a class="btn btn-success" style="font-size: 20px; padding: 6px 16px;" href="@Url.Action("Registrarherramienta", "Herramienta")">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped" id="tableh">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tipo herramienta</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Comentario</th>
                                    <th>Fecha registro</th>
                                    <th></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{

        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-MX.json"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

        <script>


    new DataTable('#tableh', {
        order: [[0, 'desc']],
        responsive: true,
        rowReorder: true,
        autoWidth: false,
        language: {
            "decimal": ".",
            "emptyTable": "No hay datos disponibles en la tabla",
            "zeroRecords": "No se encontraron coincidencias",
            "info": "Mostrando START a END de TOTAL entradas",
            "infoFiltered": "(Filtrado de MAX total de entradas)",
            "lengthMenu": "Mostrar MENU entradas",
            "search": "Buscar:",
            "infoEmpty": "No hay datos para mostrar",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": ">",
                "previous": "<"
            }
        },
         ajax: {
                "url": "@Url.Action("ListaHerramienta", "Herramienta")",
                "type": "GET",
                "datatype": "json"
        },
            columns: [
                { "data": "ID_HERRAMIENTA" },
                { "data": "TIPO.DECRIPCION_TIPO_HERRAMIENTA" },
                { "data": "MARCA.DECRIPCION_MARCA" },
                { "data": "MODELO" },
                { "data": "COMENTARIO" },
                { "data": "FECHA_REGISTRO", "render": function (data) { return moment(data).format('YYYY-MM-DD'); } },
                {
                   "data": null,
                    "className": "text-center",
                    "render": function (data, type, row) {
                        var editUrl = '@Url.Action("Editarherramienta", "Herramienta", new { Idherramienta = "_ID_" })'
                                       .replace("_ID_", row.ID_HERRAMIENTA);

                        var deleteUrl = '@Url.Action("Eliminarherramienta", "Herramienta", new { Idherramienta = "_ID_" })'
                                        .replace("_ID_", row.ID_HERRAMIENTA);

                        return `<a class="btn btn-primary btn-sm" href="${editUrl}">
                                    <span class="fas fa-edit"></span>
                                </a>
                                <a class="btn btn-danger btn-sm" href="${deleteUrl}">
                                    <span class="fas fa-trash-alt"></span>
                                </a>`;
                    }
                }
            ]

        });
        </script>
    }


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .bg-yellow {
            background-color: #F7DC6F; /* Amarillo claro */
        }
    </style>

</body>
</html>