@model CONTROL_HERRAMIENTA_SUNCORP.Models.Tipoherramienta

@{
    ViewBag.Title = "Editartipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>ACTUALIZAR TIPO HERRAMIENTA</h4><br />
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editartipo","Tipo")" method="post">
                    <div class="form-group">
                        <label>Tipo herramienta</label>

                        <input type="hidden" class="form-control" name="ID_TIPO_HERRAMIENTA" value="@Html.DisplayTextFor(m=>m.ID_TIPO_HERRAMIENTA)" />

                        <input type="text" class="form-control" name="DECRIPCION_TIPO_HERRAMIENTA" value="@Html.DisplayTextFor(m=>m.DECRIPCION_TIPO_HERRAMIENTA)" required />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    @if (ViewData["MENSAJETIPO"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["MENSAJETIPO"]
                        </div>
                    }

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a class="btn btn-warning" href="@Url.Action("Tipo","Tipo")">Volver</a>



                </form>


            </div>
        </div>


    </div>
</div>

