@model CONTROL_HERRAMIENTA_SUNCORP.Models.Descargas

@{
    ViewBag.Title = "Editardescargas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:25px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>EDITAR DESECHOS</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editardescargas", "Descargas")" enctype="multipart/form-data" method="post">

                    <input type="hidden" class="form-control" name="ID_DESECHOS" value="@Html.DisplayTextFor(m=>m.ID_DESECHOS)" />

                    <div class="form-container">
                         <div class="center-input">
                             <div class="form-group">
                            <label for="ID_USUARIO_BD">Usuario</label>
                            @Html.DropDownListFor(model => model.ID_USUARIO_BD, (SelectList)ViewBag.tUsuario, new { @class = "form-control" })
                        </div>
                    </div>
                      </div>

                    <style>
                        .center-input {
                            text-align: center; /* Centra el contenido en línea */
                            margin-top: 20px; /* Espacio superior opcional */
                        }

                            .center-input input {
                                display: inline-block; /* Permite centrar el input dentro del contenedor */
                            }
                    </style>

                    <div class="center-input">
                        <div class="form-group">
                            <label>Fecha de descarga</label>
                            <input type="date" class="form-control" name="FECHA_DESECHO" required value="@Model.FECHA_DESECHO.ToString("yyyy-MM-dd")" /><br />
                        </div>
                    </div>

                    <style>
                        .form-container {
                            text-align: center; /* Centra el contenido en línea */
                            margin: 50px; /* Espacio opcional alrededor del contenedor */
                        }


                            .form-group label {
                                display: block; /* Asegura que el label ocupe una línea completa */
                                margin-bottom: 10px; /* Espacio entre el label y el DropDownList */
                            }

                    </style>

                    <div class="form-container">
                        <div class="center-input">
                            <div class="form-group">
                                <label for="ID_MARCA">Serie</label>
                                @Html.DropDownListFor(model => model.ID_REGISTRO_SERIE_HERRAMIENTA, (SelectList)ViewBag.zSerie, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="center-input">
                        <div class="form-group">
                            <label>Comentario</label>
                            <input type="text" class="form-control" name="Comentario" value="@Html.DisplayTextFor(m=>m.COMENTARIO)" /><br />
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label>Imagen actual</label>
                        <div class="col-md-10">
                            <img width="365" height="300" src="@Url.Action("ConvertirImagen", "Descargas", new { codigo = Model.ID_DESECHOS})" alt="Imagen de factura" /><br />
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label>Nueva imagen</label><br />
                        <input type="file" class="form-control" id="FOTO" name="upload" value="@Html.DisplayTextFor(m=>m.FOTO)" /><br />
                    </div>


                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-warning" href="@Url.Action("FACTURA","Factura")">Volver</a>

                </form>
            </div>
        </div>
    </div>
</div>



